*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #fffffe;
    color: aliceblue;
    height: 100vh;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

header {
    background: url("./img/bg.jpg");
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

header img {
    width: 200px;
}

.search-field {
    display: grid;
    justify-content: center;
    font-size: 2rem;
}


.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 25px;

}

.search-field {
    display: grid;
    justify-content: center;
    margin-bottom: 1em;
}

.search-field input {
    font-size: 0.8em;
    padding: 1em;
    border-radius: 300000px;
    outline: none;
}


.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.card {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    cursor: pointer;
    height: 230px;
    background-color: #0f0e17;
    color: #a7a9be;
    border-radius: 5px;
    -webkit-box-shadow: -2px 3px 10px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 3px 10px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 3px 10px -4px rgba(0, 0, 0, 0.75);
}

.card img {
    height: 180px;
    object-fit: contain;
    border-radius: 5px;
}

.content {
    padding: 1rem;
}

.content li {
    padding: 0.2em 0;
    font-size: 1.3rem;
}

@media screen and (max-width: 960px) {
    .container {
        width: 85%;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    .card {
        grid-template-columns: 1fr 1fr;
        /* width: auto; */
        /* height: auto; */
    }

    .card img {
        width: 100%;
        /* height: auto; */
    }
}

@media screen and (max-width: 720px) {
    .card {
        height: auto;
    }

    .card img {
        padding: 0.5rem;
    }

    .content li {
        font-size: 0.8rem;
    }
}